<!-- ./views/index.hbs -->
<!-- search bar -->
<div class="container search-bar">
    <div class="search-bar-outer">
        <div class="search-bar-inner">

            {{#if search}} {{> search}} {{/if}}
            {{#if searchNotFound}} {{> searchNotFound}} {{/if}}

        </div>
    </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 col-11 mx-auto">
            <div class="row row-cols-sm-3 restaurant-cards">
                {{#each restaurants}}
                {{> card}}
                {{/each}}
            </div>
        </div>
    </div>
</div>